USE [DWatchDB]
GO
ALTER TABLE [dbo].[Wishlist] DROP CONSTRAINT [FK__Wishlist__UserID__74AE54BC]
GO
ALTER TABLE [dbo].[Wishlist] DROP CONSTRAINT [FK__Wishlist__Produc__75A278F5]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK__Product__Categor__4D94879B]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK__Orders__UserID__778AC167]
GO
ALTER TABLE [dbo].[OrderDetail] DROP CONSTRAINT [FK__OrderDeta__Produ__571DF1D5]
GO
ALTER TABLE [dbo].[OrderDetail] DROP CONSTRAINT [FK__OrderDeta__Order__5629CD9C]
GO
ALTER TABLE [dbo].[Wishlist] DROP CONSTRAINT [DF__Wishlist__AddedD__76969D2E]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedDa__70DDC3D8]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [DF__Product__IsActiv__4F7CD00D]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [DF__Product__Created__4E88ABD4]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [DF__Product__Stock__4CA06362]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__Status__534D60F1]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__OrderDat__52593CB8]
GO
/****** Object:  Index [UQ__Wishlist__DCC800C343C31412]    Script Date: 3/15/2026 12:55:43 PM ******/
ALTER TABLE [dbo].[Wishlist] DROP CONSTRAINT [UQ__Wishlist__DCC800C343C31412]
GO
/****** Object:  Index [UQ__Users__A9D10534EFDCC793]    Script Date: 3/15/2026 12:55:43 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__A9D10534EFDCC793]
GO
/****** Object:  Index [UQ__Admin__536C85E46DA97C3A]    Script Date: 3/15/2026 12:55:43 PM ******/
ALTER TABLE [dbo].[Admin] DROP CONSTRAINT [UQ__Admin__536C85E46DA97C3A]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 3/15/2026 12:55:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Wishlist]') AND type in (N'U'))
DROP TABLE [dbo].[Wishlist]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/15/2026 12:55:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/15/2026 12:55:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
DROP TABLE [dbo].[Product]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/15/2026 12:55:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/15/2026 12:55:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderDetail]') AND type in (N'U'))
DROP TABLE [dbo].[OrderDetail]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/15/2026 12:55:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/15/2026 12:55:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Admin]') AND type in (N'U'))
DROP TABLE [dbo].[Admin]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/15/2026 12:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/15/2026 12:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/15/2026 12:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/15/2026 12:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[Note] [nvarchar](500) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/15/2026 12:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
	[Brand] [nvarchar](100) NULL,
	[Origin] [nvarchar](100) NULL,
	[WaterResist] [nvarchar](50) NULL,
	[CaseSize] [nvarchar](50) NULL,
	[Movement] [nvarchar](100) NULL,
	[CategoryID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/15/2026 12:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 3/15/2026 12:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[AddedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [Username], [Password]) VALUES (1, N'admin', N'admin123')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Đồng Hồ Nam', N'Đồng hồ thời trang dành cho nam')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Đồng Hồ Nữ', N'Đồng hồ thời trang dành cho nữ')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Đồng Hồ Đôi', N'Đồng hồ cặp đôi phong cách')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 1, 8, 1, CAST(2490000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (2, 1, 3, 1, CAST(4290000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (3, 2, 8, 1, CAST(2490000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [FullName], [Email], [Phone], [Address], [Note], [TotalAmount], [OrderDate], [Status], [UserID]) VALUES (1, N'tnl', N'tnl034993@gmail.com', N'912831231', N'Đà Nẵng, Duy Trung, Duy Xuyên, Quảng Nam, Việt Nam', N'', CAST(6780000.00 AS Decimal(18, 2)), CAST(N'2026-03-15T00:25:08.267' AS DateTime), N'Pending', NULL)
INSERT [dbo].[Orders] ([OrderID], [FullName], [Email], [Phone], [Address], [Note], [TotalAmount], [OrderDate], [Status], [UserID]) VALUES (2, N'Long Trần', N'long293107@gmail.com', N'0774111206', N'Đà Nẵng, Duy Trung, Duy Xuyên, Quảng Nam, Việt Nam', N'', CAST(2490000.00 AS Decimal(18, 2)), CAST(N'2026-03-15T00:43:16.833' AS DateTime), N'Pending', NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Price], [Stock], [ImageURL], [Brand], [Origin], [WaterResist], [CaseSize], [Movement], [CategoryID], [CreatedDate], [IsActive]) VALUES (1, N'Casio Standard MTP-V001D', N'Đồng hồ nam dây kim loại cổ điển', CAST(3490000.00 AS Decimal(18, 2)), 20, N'https://cdnv2.tgdd.vn/mwg-static/tgdd/Products/Images/7264/208687/casio-mtp-v001d-7budf-nam-thumb-638792767019186469-600x600.jpg', N'Casio', N'Nhật Bản', N'100m', N'44mm', N'Pin Quartz', 1, CAST(N'2026-03-14T23:49:48.780' AS DateTime), 1)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Price], [Stock], [ImageURL], [Brand], [Origin], [WaterResist], [CaseSize], [Movement], [CategoryID], [CreatedDate], [IsActive]) VALUES (2, N'Seiko SGEH84P1 Presage', N'Đồng hồ nam mặt số sang trọng', CAST(6890000.00 AS Decimal(18, 2)), 15, N'https://product.hstatic.net/1000223154/product/f60340109cb06bee32a1_273cfd872e144b3fb88c57b37422762e_master.jpg', N'Seiko', N'Nhật Bản', N'50m', N'42mm', N'Automatic', 1, CAST(N'2026-03-14T23:49:48.780' AS DateTime), 1)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Price], [Stock], [ImageURL], [Brand], [Origin], [WaterResist], [CaseSize], [Movement], [CategoryID], [CreatedDate], [IsActive]) VALUES (3, N'Orient Bambino RA-AP0003', N'Đồng hồ nam dây da thanh lịch', CAST(4290000.00 AS Decimal(18, 2)), 18, N'https://cdn.tgdd.vn/Products/Images/7264/204510/orient-ra-ap0003s10b-nam-5-750x500.jpg', N'Orient', N'Nhật Bản', N'30m', N'40mm', N'Automatic', 1, CAST(N'2026-03-14T23:49:48.780' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__536C85E46DA97C3A]    Script Date: 3/15/2026 12:55:43 PM ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534EFDCC793]    Script Date: 3/15/2026 12:55:43 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Wishlist__DCC800C343C31412]    Script Date: 3/15/2026 12:55:43 PM ******/
ALTER TABLE [dbo].[Wishlist] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Wishlist] ADD  DEFAULT (getdate()) FOR [AddedDate]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
